include ./lib/header.jade
    script(language="javascript",src="/ford/static/js/fullScene.min.js")
    link(href="/ford/static/css/fullScene.css",rel="stylesheet",type="text/css")
    body
        div.background=""
        div.move=""
        div.move-text="横向移动"
